footer(class="bg-[#333]").text-white
  .mx-auto.p-2.max-w-5xl
    h3 Contacts 
    div
      p Address
      p #{location}

      p Phone
      p #{phone}
    
    div
      p Monday - Friday 10:00 - 18:00
      p Saturday - Sunday 10:00 - 16:00
      a(href=`${ig}`) #{ig}