-
  const services = ['Tunning', 'Engines', 'Brakes', 'Oil Changes', 'Transmissions', 'Electrical', 'Diagnostic']
  const phone = '+380 66 666 6666'
  const ig = 'https://instagram.com/max_88motors/'
  const location = 'Danyla Apostola street, Lviv, Ukraine'